<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="employee" class="com.mindgate.pojo.Employee"
		autowire="byType">
		<property name="employeeId" value="101" />
		<property name="name" value="Test" />
		<property name="salary" value="1000" />
	</bean>

	<bean id="officeAddress" class="com.mindgate.pojo.Address">
		<property name="street" value="M.G. Road" />
		<property name="city" value="Chennai" />
		<property name="state" value="Tamilnadu" />
	</bean>
</beans>